* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

body {
  background-color: #bd7f21e5;
  min-height: 100vh;
}

header {
  grid-area: header;
  background: #dfca6ce3;
  min-height: 100px;
}

.style1 {
  font-size: 24px;
  font-style: italic;
  text-decoration: underline;
}

.fondo {
  background-image: url(../images/cerveza.jpg);
  height: auto;
  background-size: 100%;
  background-repeat: no-repeat;
}

header img {
  float: left;
  height: 100px;
  width: auto;
}

header {
  display: flex;
  align-items: center;
}

header>nav>ul {
  display: flex;
  text-align: center;
}

header>nav>ul>li {
  display: inline-block;
  font-style: italic;
  list-style-type: none;
  margin-left: 40px;
}

section {
  grid-area: section;
}

footer {
  grid-area: footer;
  background: #dfca6ce3;
  color: black;
  text-align: center;
  padding: 10px;
  height: auto;
}

.tabla {
  float: left;
  margin: 100px 0px;
  background-color: #dfca6ce3;
  font-style: italic;
}

section>div>img {
  padding: 0%;
  width: 400px;
  height: auto;
  margin: 40px 100px 55px;
  box-sizing: border-box;
  float: left;
}

.style5 {
  font-style: italic;
  color: black;
  text-decoration: none;
  font-size: 30px;
  font-weight: 600;
}

.grid-container {
  display: grid;
  gap: 10px;
  grid-template:
    "header"auto "section"1fr "footer"auto;
}

@media (max-width: 600px) {
  header>nav>ul>li {
    margin-left: 12px;
  }

  .style1 {
    font-size: 16px;
  }

  .style5 {
    font-size: 18px;
    font-weight: 550;
  }

  .tabla {
    margin-left: 95px
  }

  .fondo {
    bottom: auto;
  }

}

@media (max-width: 1050px) {
  .tabla {
    margin-left: 95px;
  }
  
  .style5 {
    font-size: 20px;
    font-weight: 550;
  }

}